<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Mostrando Cliente</h1>

<p>
<b>Nome</b>
<%= @customer.name %>
</p>

<p>
<b>Email</b>
<%= @customer.email %>
</p>

<p>
<b>Telefone</b>
<%= @customer.phone %>
</p>